* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 9rem;
    
}



.head__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #f09342;
    
}

.head__logo h1 {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.nav {
    background-color: black;
    color: aliceblue;
    position: fixed;
    bottom: 0;
    width: 100%;

}

.nav2 {
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    
}




.nav__link {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
  
    

    
}

.nav__link:visited {
    color: #ffffff;
}

.nav__link:hover {
    color:#ef7f1b
}

li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.fa-solid {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h2 {
    text-align: center;
    padding: 2rem;
    text-transform: uppercase;
}


.cal {
    font-size: 2rem;
    margin: 2rem;
    

}

td {
    font-size: 1.7rem;
    font-weight: 700;
    height: 3rem;
}

.time {
    text-align: center;
}

caption {
    background-color: #ef7f1b;
    min-height: 4rem;
    text-align: center;
    border-radius: 10px;
    padding-top: 0.5rem;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table__title {
    background-color: red;
    color: aliceblue;
    height: 4rem;
}

th {
    min-height: 4rem;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.8rem;
}

sup {
    color: red;
}

.gray {
    background-color: gray;
}


.contact {
    background-color: #ef7f1b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}

.contact__box {
    background-color: black;
    color: #ffffff;
    margin: 1rem;
    padding: 1rem;
    min-height: 15rem;
    width: 30rem;
    
}

.contact__box--description {
    padding-top: 2rem;
    font-size: 1.9rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    
}


.whatsapp {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'monserrat', sans-serif;
    font-weight: 500;
    background-color: #25D366;
    margin: 2rem;
    
    

}

.seguinos {
    color: #ffffff;
}


.social {
    background-color: #000000;
}

.social__icons {
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.socialIcons {
    max-height: 5rem;
    margin: 2rem;
}

footer {
    background-color: black;
    color: #ffffff;
    height: 11rem;
    
}

.footer__description {
    padding: 2rem;

}

.footer__created {
    text-align: center;
    margin-bottom: 3rem;
    margin-right: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    float: right ;
}

.footer__created a {
    text-decoration: none;
    color: #ef7f1b;
}

@media (min-width: 768px) {

    body {
        margin-bottom: 0rem;
    }
    

    .contact__hero {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }

    .contact__box {
        background-color: rgb(8, 12, 10);
        width: 30rem;
        height: 20rem;
        
        
    }

    .contact__box--description {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

   

    
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #f09342;
        
        width: 100%;
        margin-bottom: 0px;
    }

    .nav {
        display: none;
    }

  

    .nav2 {
        display: inline;

    }

    .navbar2 {
        display: flex;
        list-style-type: none
        
    }

    .nav__link2 {
        padding: 2rem;
        text-decoration: none;
        color: #000000;
        font-size: 1.8rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    .nav__link2:hover {
        color: #ffffff;
    }


}


